# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore tudo que não é do projeto
node_modules/
.env
AppData/
Temp/
.cache/
*.tmp
*.pma
*.ldb
*.log
*.odlgz
*.lockfile
*.aodl
.DS_Store
# Ignorar tudo que não seja do projeto
../../../*
!*

# Ignorar pastas do Windows e do OneDrive
AppData/
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
Saved Games/
OneDrive/

# Ignorar arquivos de sistema
NTUSER.DAT
*.lnk
desktop.ini

# Ignorar pastas de programas
.AndroidStudio*
.idea/
.vscode/
.node_modules/
